$red: #ff0000;
$bg: #0e1117;
$btn: #f8f8f8;
$btnborder: #d3d3d3;
$signBtn: #065fd4;
$githubColor: #374151;
$kakaoColor: #fee500;
$kakaoTextColor: #423630;
$errorColor: #fef2f2;
$errorTextColor: #bd1c1c;
