extends ../templates/base

block content
    form(method="POST")
        if errorMessage
            div.error-box
                i.fas.fa-circle-xmark
                span=errorMessage
        div.input-box.input-upload
            input(placeholder="Old Password",              name="oldPassword",             type="password")
        div.input-box.input-upload
            input(placeholder="New Password",              name="newPassword",             type="password")
        div.input-box.input-upload
            input(placeholder="New Password Confirmation", name="newPasswordConfirmation", type="password")
        input(value="Change Password", type="submit")